.summary-container{
    width: 100%;
    height: 100%;
    /* border: 2px solid #000; */
    margin-bottom: 5rem;
}

.summary-header{
    width: 450px;
    height: 68px;
    margin-bottom: 2rem;
}

.summary-header h1{
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
}

.summary-header p{   
    font-size: 16px;
    font-weight: 400;
    color: #9699AA;
    margin-bottom: 2rem;
}

.summary-content{
    width: 100%;
    height: 100%;
    background-color: #F8F9FF;
    margin-bottom: 2rem;
    padding: 2rem;
    border:  #9699AA;
    border-radius: 8px;
}
.plan-text{
    margin-bottom: 0.5rem;
}

.plan-text p{
    font-size: 15px;
    font-weight: 500;
    color: #022959;
}   

.plan-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plan-price{
    font-size: 16px;
    font-weight: 700;
    color: #022959;
}
.plan-container a{
    color: #9699AA;
    /* cursor: pointer; */
}

hr{
    margin-top: 2rem;
}
.service{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.service-text{
    font-size: 15px;
    /* font-weight: 500; */
    color: #9699AA;
}
.service-price{
    font-size: 14px;
    font-weight: 400;
    color: #022959;
}

.total-content{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.total-text{
    font-size: 15px;
    font-weight: 500;
    color: #9699AA;
}
.total-price{
    font-size: 20px;
    font-weight: 700;
    color: #483EFF;
}


.next{
    width: 123px;
    height: 48px;
    background-color: #483EFF;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1rem;
    border: none;
}
.buttons{
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.back{
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #9699AA;
    cursor: pointer;
}
.back:hover{
    color: #022959;
}


