<div class="main-container">
    <div class="sider">
        <a routerLink="/step1"
        routerLinkActive="active"
        ariaCurrentWhenActive="page">
        <div class="rate-container">
            <div class="rate">1</div>
            <div class="text">
                <span>STEP 1</span>
                <p>YOUR INFO</p>
            </div>
        </div>
    </a>
    <a routerLink="/step2"
        routerLinkActive="active"
        ariaCurrentWhenActive="page">
        <div class="rate-container">
            <div class="rate">2</div>
            <div class="text">
                <span>STEP 2</span>
                <p>SELECT PLAN</p>
            </div>
        </div></a>
        <a routerLink="/step3"
        routerLinkActive="active"
        ariaCurrentWhenActive="page">
        <div class="rate-container">
            <div class="rate">3</div>
            <div class="text">
                <span>STEP 3</span>
                <p>ADD-ONS</p>
            </div>
        </div></a>

        <a routerLink="/step4"
        routerLinkActive="active"
        ariaCurrentWhenActive="page">
        <div class="rate-container">
            <div class="rate">4</div>
            <div class="text">
                <span>STEP 4</span>
                <p>SUMMARY</p>
            </div>
        </div></a>
    </div>
    <router-outlet></router-outlet>
</div>

