<div class="final-page-container">
    <div class="check-icon">
        <img src="../../assets/images/icon-thank-you.svg" alt="check-icon">
    </div>
    <div class="final-page-header">
        <h1>Thank you!</h1>
    </div>
    <div class="final-page-content">
        <p>Thanks for confirming your subscription! We hope you have fun using our platform. If you ever need support, please feel free to email us at{{email}}</p> 
    </div>
    <!-- <p>Thanks for confirming your subscription! We hope you have fun using our platform. If you ever need support, please feel free to email us at {{email}}</p> -->
</div>

